<%= form_with model: @location do |form| %>
  <p>
    <%= form.label :country %><br>
    <%= form.text_field :country %>
  </p>

  <p>
  <%= form.label :capital %><br>
  <%= form.text_field :capital %>
  </p>

  <p>
  <%= form.label :fun_fact %><br>
  <%= form.text_area :fun_fact %>
  </p>

  <%= form.submit 'Add Country' %>

<% end %>